torch==1.8.1
torchvision==0.9.1
joblib==1.0.0
scikit-image==0.18.1
opencv-python-headless==4.11.0.86  # Replaced opencv-python with headless version
cycler==0.10.0
graphviz==0.16
imbalanced-learn==0.8.0
imblearn==0.0
kiwisolver==1.3.1
matplotlib==3.3.3
numpy==1.22.4
pandas==1.5.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
scikit-learn==0.24.1
scipy==1.6.0
seaborn==0.11.1
six==1.15.0
xgboost==1.5.0
tqdm==4.62.3
efficientnet-pytorch==0.7.1
albumentations==1.1.0
tensorboard==2.8.0
flask==2.3.3
flask_cors
werkzeug==2.3.7
pillow==9.5.0
gunicorn==21.2.0
